.s-s-container{
	flex: 1 1 0%;
}

.s-s-main{
	display: flex;
    flex-wrap: wrap;
}

.s-s-wrap{
	margin-bottom: 16px;
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
}

.s-s-wrap-r{
	margin-right: 0px;
}

.s-s-title{
	font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.s-s-level-wrap{
	background-color: rgb(246, 246, 246);
    height: 5px;
    flex-basis: 100%;
    width: 100%;
    box-shadow: rgb(204, 204, 204) 1px 1px 5px;
}

.s-s-level{
	width: 88%;
    background-color: rgb(255, 82, 82);
    height: 100%;
}

@media all and (max-width: 48em){
    .s-s-container{
    	width: 100%;
    }
    .s-s-wrap{
    	width: 100%;
    	margin-right: 0px;
    }
}