.s-s-container{
	display: block;
	flex: 1 1 0%;
}

.s-s-main{
	display: flex;
    flex-wrap: wrap;
}

.s-s-wrap{
	display: block;
	margin-bottom: 16px;
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
}

.s-s-wrap-r{
	margin-right: 0px;
}

.s-s-title{
	display: block;
	font-size: 1.15rem;
    color: #333333;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: Montserrat;
    line-height: 1.8;
}

.s-s-level-wrap{
	display: block;
	background-color: rgb(246, 246, 246);
    height: 5px;
    flex-basis: 100%;
    width: 100%;
    box-shadow: rgb(204, 204, 204) 5px 5px 10px;
}

.s-s-level{
	display: block;
	width: 88%;
    background-color: rgb(255, 82, 82);
    height: 100%;
}

@media all and (max-width: 800px){
    .s-s-container{
    	width: 100%;
    }
    .s-s-wrap{
    	width: 100%;
    	margin-right: 0px;
    }
}