.App-header-top-containter{
  height: 60px;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 1100;
  background-color: rgb(240,240,240);
  box-shadow: 0 0 20px gray;
}

.App-header-top-containter-right {
  float: right;
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 20px;
  padding:15px 0px; 
}

.top-icon-wrap{
  flex: auto;
  margin-right:15px;
}


.top-icon-wrap img{
  height: 30px;
  display: block;
}


.mail_fukidashi{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: -160px;
    font-size: 18px;
    width: 340px;
    background-color:#808080    ;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height:150%;
    animation: 0.3s fadeIn;
}

.mail_fukidashi2{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: -40px;
    font-size: 18px;
    width: 120px;
    background-color:#808080    ;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height:150%;
    animation: 0.3s fadeIn;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}